.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
  border: 1px solid #ddd;
  height: 450px;
  background-color: #c8c2dd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.home-button {
  background-color: #dddae7;
  color: #31255e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  text-align: center;
}

.home-button a {
  color: #31255e;
  text-decoration: none;
  display: block;
}

.home-button:hover {
  background-color: #d4cfe3;
}

/* ----------------------------------------------- */

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 40px auto; 
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px; 
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f8f7fa;
}

tbody tr:hover {
  background-color: #efeef5fa;
}

.table-button{
  background-color: #dddae7;
  color: #31255e;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 70px;
  text-align: center;
}

.login-button:hover {
  background-color: #d4cfe3;
}

/* ----------------------------------------------- */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-top: 20px;
}

.login-form {
  background-color: #c8c2dd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
  color: #31255e;
}

.login-form-control {
  width: 330px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #dddae7;
  color: #31255e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  text-align: center;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #d4cfe3;
}

/* ----------------------------------------------- */

.navbar {
  background-color: #31255e;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #c8c2dd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.modal-input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-button {
  background-color: #dddae7;
  color: #31255e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.modal-button:hover {
  background-color: #d4cfe3;
}

/* ----------------------------------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------------------------------------------- */

